<h1>Booking</h1>

<p>
  <strong>Appointment:</strong>
  <%= link_to @booking.appointment.title, @booking.appointment %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @booking.start_time.strftime("%m/%d/%Y%I:%M %p") %>
</p>

<br>

<%= link_to "Edit", edit_booking_path(@booking) %> |
<%= link_to "Back", bookings_path %>
