<div class="flex justify-center mt-40 mb-10 container mx-auto">
    <h1>Available slots for <%= @date.strftime("%B %d, %Y") %></h1>
</div>
<div>
<p class="justify-center container mx-auto text-orange-500">Click on an a time to create an appointment</p>
</div>
    <table class="justify-center mt-5 mb-40 container mx-auto">
      <thead>
        <tr class="pb-4">
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @available_slots.group_by { |slot| slot[:time].strftime("%Y-%m-%d") }.each do |date, slots| %>
          <tr class="pb-4">
            <td><%= date %></td>
            <td>
              <% slots.select { |slot| slot[:time].hour >= 9 && slot[:time].hour <= 16 }.each do |slot| %>
                <%= link_to_if(slot[:active], slot[:time].strftime("%I:%M%p"), new_appointment_path(date: date, time: slot[:time]), class: "bg-blue-500 px-2 hover:bg-blue-700 text-white font-500 rounded #{'text-gray-500' unless slot[:active]}", style: "margin-right: 0.5em") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% console %>