<div class="flex flex-col mt-40 mb-10 container mx-auto">
<h1>Appointment</h1>

<p>
  <strong>Start Time:</strong>
  <%= @appointment.start_time.strftime("%m/%d/%Y%I:%M %p") %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @appointment.end_time.strftime("%m/%d/%Y%I:%M %p") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<br>

<%= link_to "Back", appointments_path %>
</div>